<h1>Listing scanners</h1>

<table>
  <tr>
    <th>Identifier</th>
    <th>Beconid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scanners.each do |scanner| %>
  <tr>
    <td><%= scanner.identifier %></td>
    <td><%= scanner.beconId %></td>
    <td><%= link_to 'Show', scanner %></td>
    <td><%= link_to 'Edit', edit_scanner_path(scanner) %></td>
    <td><%= link_to 'Destroy', scanner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scanner', new_scanner_path %>
